{% extends 'base.html.twig' %}

{% block title %}Création d'un nouvelle utilisateur{% endblock %}

{% block body %}
    <div class="container body-begin">
        <h3 class="text-center estm-text-color-blue">Nouvelle utilisateur</h3>
        <div class="ombre p-5 border">
            {{form_start(form)}}
                <div class="row">
                    <div class="col-lg-4">
                        <h4 class="text-center estm-text-color-blue">Informations personnelles</h4>
                        {{form_row(form.firstname)}}
                        {{form_row(form.lastname)}}
                        {{form_row(form.sexe)}}
                        {{form_row(form.dateNaiss)}}
                    </div>
                    <div class="col-lg-4 border-left">
                        <h4 class="text-center estm-text-color-blue">Informations de connexion</h4>
                        {{form_row(form.email)}}
                        {{form_row(form.hashPassword)}}
                        
                    </div>
                    <div class="col-lg-4 border-left">
                        <h4 class="text-center estm-text-color-blue">Informations de contact</h4>
                        {{form_row(form.phone)}}
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-4">
                        <button type="submit" class="btn btn-estm-green btn-block">Ajouter</button>
                    </div>
                </div>
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}
