{% include "base.html.twig" %}
{% block title %}Amicale - ESTM{% endblock %}

{% block body %}
    <div id="club-section" style="background-image: url({{asset('build/images/logo.png')}})">
            <div class="club-inner body-begin dark-overlay">
                <div class="container">
                        <h1 class="text-white text-shadow-club">Amicale vous souhaite la bienvenue
                        </h1>
                        <h2 class="text-white text-shadow-club">{{app.user.firstname}} {{app.user.lastname}}</h2>
                </div>
            </div>
    </div>

    {% include "shared/_navPillAmicale.html.twig" %}
    <div class="container body-begin">

        <div id="third-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-center estm-text-color-blue">Activités récemment mise en ligne</h2>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="col-lg-12">
                            <div class="row d-flex justify-content-center">
                                <a href="{{path('amicale_activity_add')}}" class="btn btn-success">Nouvelle activité</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="container-fluid mt-4 my-3">
                <div class="container ">
                    <div class="row">
                        {% for activity in activities %}
                            {% include "shared/_cardActivityAmicale.html.twig" with {'activity': activity } %}
                        {% endfor %}
                        <div class="col-lg-12 my-2">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-3">
                                    <a href="#" class="btn btn-success btn-block">Voir plus</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div id="third-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-center estm-text-color-blue">Informations récemment mise en ligne</h2>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="col-lg-12">
                            <div class="row d-flex justify-content-center">
                                <a href="{{path('amicale_information_new')}}" class="btn btn-success">Nouvelle information</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        <div class="container-fluid mt-4 my-3">
            <div class="container ">
                <div class="row">
                    {% for information in informations %}
                        {% include "shared/_cardAmicaleInfo.html.twig" with {'information': information} %}
                    {% endfor %}
                    <div class="col-lg-12 my-2">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-3">
                                <a href="#" class="btn btn-success btn-block">Voir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}