<div class="container mt-4">
    <nav class="nav nav-pills nav-fill estmBlue">
        <a class="nav-item nav-link border-right" href="{{path('club_acceuil',{slug: club.slug})}}">Acceuil</a>
        <a class="nav-item nav-link border-right" href="{{path('adhesion_all',{slug: club.slug})}}">Demande d'adhésion</a>
        <a class="nav-item nav-link border-right" href="{{path('activity_index',{slug: club.slug})}}">Activités</a>
        <a class="nav-item nav-link border-right" href="{{path('information_index',{slug: club.slug})}}">Informations</a>
        <a class="nav-item nav-link border-right" href="{{path('discussion_index',{slug: club.slug})}}">Forum d'entraide</a>
        <a class="nav-item nav-link" href="{{path('club_students',{slug: club.slug})}}">Participants</a>
    </nav>
</div>